.auth-title {
    font-family: var(--sf-text-medium);
    font-size: 2em;
    color: #000000;
    text-transform: uppercase;
    padding-bottom: 2rem;
}

.main-auth .container{
    max-width: 100%;
    height: 100%;
}

.auth-main__left-col{
    background-size: cover;
}

.auth-main__right-col label{
    max-width: 27rem;
}

.auth-main__right-col .complete-registration-btn{
    max-width: 27rem;
    width: 100%;
    
}

.auth-main__right-col{
    padding: 3.5em 1.5em 7em 2.9em;
}

.main-auth form{
    display: flex;
    flex-direction: column;
}